<!DOCTYPE html>
<html>
    <head>
         <meta charset="utf-8">
        <title>Camino 1</title>  
        <audio src="Programathon/Audios/Bike_Rides.mp3" autoplay="autoplay" hidden="hidden"></audio>
    </head>
    <body background="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\FISERV-PROGRAMATHON-CAMINO1-FONDO_FONDO.png">
    <header>
      <section class="estado">
        <div id="puntuacion">000</div>
        <div id="vida">01</div>
        <div id="datos">        
        </div> 
      </section> 
    </header>
        <div>
     <img src="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\MARIPOSAS\AMARILLO\MARIPOSA-AMARILLO-01.png"/>
     <img src="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\MARIPOSAS\AMARILLO\MARIPOSA-AMARILLO-02.png"/>
     <img src="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\MARIPOSAS\AMARILLO\MARIPOSA-AMARILLO-03.png"/>
     <img src="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\MARIPOSAS\AMARILLO\MARIPOSA-AMARILLO-04.png"/>
     <img src="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\MARIPOSAS\AMARILLO\MARIPOSA-AMARILLO-05.png"/>
            </div>
            <br>
         <div>
     <img src="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\MARIPOSAS\AZUL\MARIPOSA-AZUL-01.png"/>
     <img src="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\MARIPOSAS\AZUL\MARIPOSA-AZUL-02.png"/>
     <img src="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\MARIPOSAS\AZUL\MARIPOSA-AZUL-03.png"/>
     <img src="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\MARIPOSAS\AZUL\MARIPOSA-AZUL-04.png"/>
     <img src="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\MARIPOSAS\AZUL\MARIPOSA-AZUL-05.png"/> 
        </div>
            <br>
            <br>
            <br>
         <div>
     <img src="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\MARIPOSAS\NARANJA\MARIPOSA-NARANJA-01.png"/>
     <img src="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\MARIPOSAS\NARANJA\MARIPOSA-NARANJA-02.png"/>
     <img src="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\MARIPOSAS\NARANJA\MARIPOSA-NARANJA-03.png"/>
     <img src="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\MARIPOSAS\NARANJA\MARIPOSA-NARANJA-04.png"/>
     <img src="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\MARIPOSAS\NARANJA\MARIPOSA-NARANJA-05.png"/> 
        </div>
         <br>
         <br>
         <div>
     <img src="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\MARIPOSAS\ROJA\MARIPOSA-ROJA-01.png"/>
     <img src="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\MARIPOSAS\ROJA\MARIPOSA-ROJA-02.png"/>
     <img src="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\MARIPOSAS\ROJA\MARIPOSA-ROJA-03.png"/>
     <img src="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\MARIPOSAS\ROJA\MARIPOSA-ROJA-04.png"/>
     <img src="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\MARIPOSAS\ROJA\MARIPOSA-ROJA-05.png"/> 
        </div>
         <br>
         <br>
         <div>
     <img src="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\MARIPOSAS\VERDE\MARIPOSA-VERDE-01.png"/>
     <img src="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\MARIPOSAS\VERDE\MARIPOSA-VERDE-02.png"/>
     <img src="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\MARIPOSAS\VERDE\MARIPOSA-VERDE-03.png"/>
     <img src="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\MARIPOSAS\VERDE\MARIPOSA-VERDE-04.png"/>
     <img src="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\MARIPOSAS\VERDE\MARIPOSA-VERDE-05.png"/> 
        </div>
         <br>
         <br>
         <div>
     <img src="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\MARIPOSAS\VIOLETA\MARIPOSA-VIOLETA-01.png"/>
     <img src="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\MARIPOSAS\VIOLETA\MARIPOSA-VIOLETA-02.png"/>
     <img src="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\MARIPOSAS\VIOLETA\MARIPOSA-VIOLETA-03.png"/>
     <img src="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\MARIPOSAS\VIOLETA\MARIPOSA-VIOLETA-04.png"/>
     <img src="C:\Users\Darren\Desktop\Programathon\Recursos Gráficos Programathon 2015\Camino 1\MARIPOSAS\VIOLETA\MARIPOSA-VIOLETA-05.png"/> 
        </div>
    </body>
 </html>
