<!Doctype>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-1.11.3.min.js" type="application/javascript"></script>
        <script src="../js/menu/menu.js" type="application/javascript"></script>
        <script src="https://code.jquery.com/jquery-1.10.3.min.js" type="application/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" type="application/javascript"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../style/menu/menu.css">
        
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div id="divCamino1" class="col-xs-12 col-md-8 divMundos cf">
                    <input type="button" id="btnCamino1" value="Test"/>
                    <br/>
                    <img alt="Mundo 1" src="../media/images/Mundo1/CAMPOFERIAL/ELEMENTOS/FISERV-PROGRAMATHON-JUEGO-MUNDO-1-CAMPOFERIAL_FONDO.png"></img>
                    <img alt="Mundo 1" src="../media/images/Mundo1/MAR/ELEMENTOS/FISERV-PROGRAMATHON-JUEGO-MUNDO1-MAR_MAR.png"></img>
                    <img alt="Mundo 1" src="../media/images/Mundo1/PLAYA/ELEMENTOS/FISERV-PROGRAMATHON-JUEGO-MUNDO1-FONDO_FONDO.png"></img>
                    <img alt="Mundo 1" src="../media/images/Mundo1/MAR/ELEMENTOS/FISERV-PROGRAMATHON-JUEGO-MUNDO1-MAR_MAR.png"></img>
                </div>
            </div>
        </div>
    </body>
</html>