<!Doctype>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="./js/test.js"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="style/menu.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 divMundos cf">
                    <img alt="Mundo 1" src="media/images/Mundo1/CAMPOFERIAL/ELEMENTOS/FISERV-PROGRAMATHON-JUEGO-MUNDO-1-CAMPOFERIAL_FONDO.png"></img>
                    <img alt="Mundo 1" src="media/images/Mundo1/MAR/ELEMENTOS/FISERV-PROGRAMATHON-JUEGO-MUNDO1-MAR_MAR.png"></img>
                    <img alt="Mundo 1" src="media/images/Mundo1/PLAYA/ELEMENTOS/FISERV-PROGRAMATHON-JUEGO-MUNDO1-FONDO_FONDO.png"></img>
                    <img alt="Mundo 1" src="media/images/Mundo1/MAR/ELEMENTOS/FISERV-PROGRAMATHON-JUEGO-MUNDO1-MAR_MAR.png"></img>
                </div>
            </div>
        </div>
    </body>
</html>