<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="seleccion.css">
        <title>Seleccion</title>
    </head>
    <body background="..\media\images\Pantalla Inicial & Botones\FONDOS\bckgSeleccion.jpg">
        <div id="divPersonajes">
            <p>Seleccione su personaje</p>
            <img id="imgBaula" src="..\media\images\miniaturas\baula.png">
            <img id="imgColibri" src="..\media\images\miniaturas\colibri.png">
            <img id="imgJaguar" src="..\media\images\miniaturas\jaguar.png">
            <img id="imgMono" src="..\media\images\miniaturas\mono.png">
            <br>
            <img id="imgPerezoso" src="..\media\images\miniaturas\perezoso.png">
            <img id="imgRana" src="..\media\images\miniaturas\rana.png">
            <img id="imgTucan" src="..\media\images\miniaturas\tucan.png">
            <img id="imgVenado" src="..\media\images\miniaturas\venado.png">
        </div>
        <div id="divNombre">
            <p>
                Nombre:<br> <input type="text" name="nombre">
            </p>
        </div>
        <div id="divDificultad">
            <br>
            <p>Seleccione el nivel de dificultad
                <select id="cmbDificultad">
                    <option value="principiante">Principiante</option>
                    <option value="intermedio">Intermedio</option>
                    <option value="avanzado">Avanzado</option>
                </select>
            </p>
        </div>
    </body>
</html>