<!DOCTYPE html>
<html>
    <head>
         <meta charset="utf-8">
         <title>Camino 1</title> 
         <link rel="stylesheet" href="..\..\style\camino1.css" />
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
         <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">       
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
         <audio src="..\..\media\audios\Bike_Rides.mp3" autoplay="autoplay" hidden="hidden"></audio>
    </head>
    <body background="..\..\media\images\camino1\FISERV-PROGRAMATHON-CAMINO1-FONDO_FONDO.png" >
          <!--************Header************-->
    <header>
      <section class="estado">
        <div id="puntuacion" class="titulo"> 
          Puntos: <span id="spnPuntos">0000</span>
        </div>
        <div id="vida" class="titulo"> 
          Vidas: <span id="spnVidas">01</span> 
        </div>
        <div id="imagen">
          <span id="spnImagen">
            <img id="imgPersonaje" src="../../media/images/Personajes/Baula/mini_baula.png"/>
          </span>
        </div>
        <div id="datos" class="titulo"> 
          <span id="spnPersonaje"> Tortuga Baula </span>
        </div> 
        <div id="nivel" class="titulo"> 
          Nivel: 
          <span id="spnNivel"> Principiante </span>
        </div>
      </section> 
    </header>
        <main>
            <canvas id="canvasCamino1"></canvas> 
            <br>
            <div id="divMariAmarillas" class="col-md-12"  style="position: relative; left: 100px; top: 25px; width: 100px; height: 300px;">
                <img id="imgMariAmarilla01" class="col-md-13" src="..\..\media\images\camino1\MARIPOSAS\AMARILLO\MARIPOSA-AMARILLO-01.png" />
                <img id="imgMariAmarilla02" class="col-md-13" src="..\..\media\images\camino1\MARIPOSAS\AMARILLO\MARIPOSA-AMARILLO-02.png" hidden="hidden"/>
                <img id="imgMariAmarilla03" class="col-md-13" src="..\..\media\images\camino1\MARIPOSAS\AMARILLO\MARIPOSA-AMARILLO-03.png" hidden="hidden"/>
                <img id="imgMariAmarilla04" class="col-md-13" src="..\..\media\images\camino1\MARIPOSAS\AMARILLO\MARIPOSA-AMARILLO-04.png" hidden="hidden"/>
                <img id="imgMariAmarilla05" class="col-md-13" src="..\..\media\images\camino1\MARIPOSAS\AMARILLO\MARIPOSA-AMARILLO-05.png" hidden="hidden"/>
            </div>
            <br>
            <div id="divMariAzules" class="col-md-12" style="position: relative; left: 200px; top: 25px; width: 100px; height: 300px;">
                <img id="imgMariAzul01" class="col-md-13" src="..\..\media\images\camino1\MARIPOSAS\AZUL\MARIPOSA-AZUL-01.png"/>
                <img id="imgMariAzul02" class="col-md-13" src="..\..\media\images\camino1\MARIPOSAS\AZUL\MARIPOSA-AZUL-02.png" hidden="hidden"/>
                <img id="imgMariAzul03" class="col-md-13" src="..\..\media\images\camino1\MARIPOSAS\AZUL\MARIPOSA-AZUL-03.png"hidden="hidden"/>
                <img id="imgMariAzul04" class="col-md-13" src="..\..\media\images\camino1\MARIPOSAS\AZUL\MARIPOSA-AZUL-04.png"hidden="hidden"/>
                <img id="imgMariAzul05" class="col-md-13" src="..\..\media\images\camino1\MARIPOSAS\AZUL\MARIPOSA-AZUL-05.png"hidden="hidden"/>  
            </div>
            <br>
            <div id="divMariNaranja" class="col-md-12" style="position: relative; left: 300px; top: 25px; width: 100px; height: 300px;">
                <img id="imgMariNaranja01" class="col-md-13" src="..\..\media\images\camino1\MARIPOSAS\NARANJA\MARIPOSA-NARANJA-01.png"/>
                <img id="imgMariNaranja02" class="col-md-13" src="..\..\media\images\camino1\MARIPOSAS\NARANJA\MARIPOSA-NARANJA-02.png"hidden="hidden"/>
                <img id="imgMariNaranja03" class="col-md-13" src="..\..\media\images\camino1\MARIPOSAS\NARANJA\MARIPOSA-NARANJA-03.png"hidden="hidden"/>
                <img id="imgMariNaranja04" class="col-md-13" src="..\..\media\images\camino1\MARIPOSAS\NARANJA\MARIPOSA-NARANJA-04.png"hidden="hidden"/>
                <img id="imgMariNaranja05" class="col-md-13" src="..\..\media\images\camino1\MARIPOSAS\NARANJA\MARIPOSA-NARANJA-05.png"hidden="hidden"/> 
            </div>
            <br>
            <div id="divMariRoja" class="col-md-12" style="position: relative; left: 400px; top: 25px; width: 100px; height: 300px;">
                <img id="imgMariRoja01" class="col-md-13" src="..\..\media\images\camino1\MARIPOSAS\ROJA\MARIPOSA-ROJA-01.png"/>
                <img id="imgMariRoja02" class="col-md-13" src="..\..\media\images\camino1\MARIPOSAS\ROJA\MARIPOSA-ROJA-02.png" hidden="hidden"/>
                <img id="imgMariRoja03" class="col-md-13" src="..\..\media\images\camino1\MARIPOSAS\ROJA\MARIPOSA-ROJA-03.png" hidden="hidden"/>
                <img id="imgMariRoja04" class="col-md-13" src="..\..\media\images\camino1\MARIPOSAS\ROJA\MARIPOSA-ROJA-04.png" hidden="hidden"/>
                <img id="imgMariRoja05" class="col-md-13" src="..\..\media\images\camino1\MARIPOSAS\ROJA\MARIPOSA-ROJA-05.png" hidden="hidden"/> 
            </div>   
            <br>
            <div id="divMariVerde" class="col-md-12"style="position: relative; left: 500px; top: 25px; width: 100px; height: 300px;">
                <img id="imgMariRoja01" class="col-md-13" src="..\..\media\images\camino1\MARIPOSAS\VERDE\MARIPOSA-VERDE-01.png"/>
                <img id="imgMariVerde02" class="col-md-13" src="..\..\media\images\camino1\MARIPOSAS\VERDE\MARIPOSA-VERDE-02.png" hidden="hidden"/>
                <img id="imgMariVerde03" class="col-md-13" src="..\..\media\images\camino1\MARIPOSAS\VERDE\MARIPOSA-VERDE-03.png" hidden="hidden"/>
                <img id="imgMariVerde04" class="col-md-13" src="..\..\media\images\camino1\MARIPOSAS\VERDE\MARIPOSA-VERDE-04.png"hidden="hidden"/>
                <img id="imgMariVerde05" class="col-md-13" src="..\..\media\images\camino1\MARIPOSAS\VERDE\MARIPOSA-VERDE-05.png" hidden="hidden"/> 
            </div>
            <br>
            <div id="divMariVioleta" class="col-md-12" style="position: relative; left: 600px; top: 25px; width: 100px; height: 300px;">
                <img id="imgMariVioleta01" class="col-md-13" src="..\..\media\images\camino1\MARIPOSAS\VIOLETA\MARIPOSA-VIOLETA-01.png"/>
                <img id="imgMariVioleta02" class="col-md-13" src="..\..\media\images\camino1\MARIPOSAS\VIOLETA\MARIPOSA-VIOLETA-02.png" hidden="hidden"/>
                <img id="imgMariVioleta03" class="col-md-13" src="..\..\media\images\camino1\MARIPOSAS\VIOLETA\MARIPOSA-VIOLETA-03.png" hidden="hidden"/>
                <img id="imgMariVioleta04" class="col-md-13" src="..\..\media\images\camino1\MARIPOSAS\VIOLETA\MARIPOSA-VIOLETA-04.png" hidden="hidden"/>
                <img id="imgMariViolta05" class="col-md-13" src="..\..\media\images\camino1\MARIPOSAS\VIOLETA\MARIPOSA-VIOLETA-05.png" hidden="hidden"/> 
            </div>
        </main>
    </body>
 </html>
