<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Programathon 2015</title>
    <link rel="stylesheet" href="../../style/mundos/mundo1.css" />
  </head>
  <body>
    <!--************Header************-->
    <header>
      <section class="estado">
        <div id="puntuacion" class="titulo"> 
          Puntos: <span id="spnPuntos">0000</span>
        </div>
        <div id="vida" class="titulo"> 
          Vidas: <span id="spnVidas">01</span> 
        </div>
        <div id="imagen">
          <span id="spnImagen">
            <img id="imgPersonaje" src="../../media/images/Personajes/Baula/mini_baula.png"/>
          </span>
        </div>
        <div id="datos" class="titulo"> 
          <span id="spnPersonaje"> Tortuga Baula </span>
        </div> 
        <div id="nivel" class="titulo"> 
          Nivel: 
          <span id="spnNivel"> Principiante </span>
        </div>
      </section> 
    </header>

    <!--************Main, aqui ingresan su codigo debajo de el div error-messages************-->
  <main>
    <div class="error-messages">
      <!--<p>Mensajes para el usuario</p>-->
    </div>
    <div id="parent">
      <canvas id="canvasMundo1"></canvas>
      <div id="imgMascarada" class="divJuego">
        <img id="mascaradas"  src="../../media/images/Mundo 1/CAMPOFERIAL/ELEMENTOS/FISERV-PROGRAMATHON-JUEGO-MUNDO-1-CAMPOFERIAL_MASCARADA.png" />
      </div>
      <div id="elementos" class="divJuego">
         <img id="algodon" src="../../media/images/Mundo 1/CAMPOFERIAL/ELEMENTOS/FISERV-PROGRAMATHON-JUEGO-MUNDO-1-CAMPOFERIAL_ALGODON.png" />
         <img id="bola" src="../../media/images/Mundo 1/CAMPOFERIAL/ELEMENTOS/FISERV-PROGRAMATHON-JUEGO-MUNDO-1-CAMPOFERIAL_BOLA.png" />
         <img id="churros" src="../../media/images/Mundo 1/CAMPOFERIAL/ELEMENTOS/FISERV-PROGRAMATHON-JUEGO-MUNDO-1-CAMPOFERIAL_CHURROS.png" />   
         <img id="gaseosa" src="../../media/images/Mundo 1/CAMPOFERIAL/ELEMENTOS/FISERV-PROGRAMATHON-JUEGO-MUNDO-1-CAMPOFERIAL_GASEOSA.png" />   
         <img id="globo" src="../../media/images/Mundo 1/CAMPOFERIAL/ELEMENTOS/FISERV-PROGRAMATHON-JUEGO-MUNDO-1-CAMPOFERIAL_GLOBO.png" />   
         <img id="gorra" src="../../media/images/Mundo 1/CAMPOFERIAL/ELEMENTOS/FISERV-PROGRAMATHON-JUEGO-MUNDO-1-CAMPOFERIAL_GORRA.png" />   
         <img id="granizado" src="../../media/images/Mundo 1/CAMPOFERIAL/ELEMENTOS/FISERV-PROGRAMATHON-JUEGO-MUNDO-1-CAMPOFERIAL_GRANIZADO.png" />   
         <img id="hamburguesa" src="../../media/images/Mundo 1/CAMPOFERIAL/ELEMENTOS/FISERV-PROGRAMATHON-JUEGO-MUNDO-1-CAMPOFERIAL_HAMBURGUESA.png" />   
         <img id="manzana" src="../../media/images/Mundo 1/CAMPOFERIAL/ELEMENTOS/FISERV-PROGRAMATHON-JUEGO-MUNDO-1-CAMPOFERIAL_MANZANA.png" />   
         <img id="molino" src="../../media/images/Mundo 1/CAMPOFERIAL/ELEMENTOS/FISERV-PROGRAMATHON-JUEGO-MUNDO-1-CAMPOFERIAL_MOLINO.png" />   
         <img id="monedas" src="../../media/images/Mundo 1/CAMPOFERIAL/ELEMENTOS/FISERV-PROGRAMATHON-JUEGO-MUNDO-1-CAMPOFERIAL_MONEDAS.png" />   
         <img id="oso" src="../../media/images/Mundo 1/CAMPOFERIAL/ELEMENTOS/FISERV-PROGRAMATHON-JUEGO-MUNDO-1-CAMPOFERIAL_OSO.png" />
         <img id="paleta" src="../../media/images/Mundo 1/CAMPOFERIAL/ELEMENTOS/FISERV-PROGRAMATHON-JUEGO-MUNDO-1-CAMPOFERIAL_PALETA.png" />   
         <img id="pulseras" src="../../media/images/Mundo 1/CAMPOFERIAL/ELEMENTOS/FISERV-PROGRAMATHON-JUEGO-MUNDO-1-CAMPOFERIAL_PULSERAS.png" />   
         <img id="tiquete" src="../../media/images/Mundo 1/CAMPOFERIAL/ELEMENTOS/FISERV-PROGRAMATHON-JUEGO-MUNDO-1-CAMPOFERIAL_TIQUETE.png" />   
         
      </div>
    </div>
  </main>
  <!--************Scripts ************-->
  <script src="../../js/jquery-2.1.4.min.js" type="application/javascript"></script>
  <script src="../../js/jquery-2.1.4.min.js" type="application/javascript"></script>

  <!--Aqui agregan el de uso personal-->
  <script src="../../js/mundo1/mundo1.js" type="text/javascript"></script>
</body>
</html>