<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="..\..\style\menu\seleccion.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <title>Seleccion</title>
        <audio src="..\..\media\audios\Bike_Rides.mp3" autoplay="autoplay" hidden="hidden"></audio>
    </head>
    <body background="..\..\media\images\inicio\FONDOS\bckgSeleccion.jpg">
        <div id="divContainer" class="container">
                <img id="imgEscogerPersonaje" class="col-md-4" src="..\..\media\images\menu\seleccionPersonaje.png">
                <div id="divPersonajes" class="col-md-12">
                    <img id="imgBaula" class="col-md-2" src="..\..\media\images\Personajes\Baula\mini_baula.png">  
                    <img id="imgColibri" class="col-md-2" src="..\..\media\images\Personajes\Colibri\mini_colibri.png">
                </div>
                <div id="divPersonajes1" class="col-md-12">
                    <img id="imgJaguar" class="col-md-2" src="..\..\media\images\Personajes\Jaguar\mini_jaguar.png">  
                    <img id="imgMono" class="col-md-2" src="..\..\media\images\Personajes\Mono\mini_mono.png">  
                </div> 
                <div id="divPersonajes2" class="col-md-12">
                    <img id="imgPerezoso" class="col-md-2" src="..\..\media\images\Personajes\Oso\mini_perezoso.png">  
                    <img id="imgRana" class="col-md-2" src="..\..\media\images\Personajes\Rana\mini_rana.png">
                </div>
                <div id="divPersonajes3" class="col-md-12">
                    <img id="imgTucan" class="col-md-2" src="..\..\media\images\Personajes\Tucan\mini_tucan.png">  
                    <img id="imgVenado" class="col-md-2" src="..\..\media\images\Personajes\Venado\mini_venado.png">  
                </div>
            <div id="divSegundo" class="row">
                <div id="divNombre" class="col-ms-12">
                    <p>
                        Nombre: <input type="text" name="nombre">
                    </p>
                </div>
                <div id="divDificultad" class="col-ms-12">
                    <br>
                    <p class="col-md-2">Seleccione el nivel de dificultad:
                        <select id="cmbDificultad" class="col-ms-12">
                            <option value="principiante">Principiante</option>
                            <option value="intermedio">Intermedio</option>
                            <option value="avanzado">Avanzado</option>
                        </select>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>