<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
<!--        <script src="..\..\js\menu\seleccion.js"></script>-->
        
        
        
        <script>
            $(document).ready(function(){
                $("#divImg1").click(function(){
                    alert("Text: " + $("#txtNombre_id").context());
                });
            });
        </script>
        
        
        
        <link rel="stylesheet" type="text/css" href="..\..\style\menu\seleccion.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <title>Seleccion</title>
        <audio src="..\..\media\audios\Bike_Rides.mp3" autoplay="autoplay" hidden="hidden"></audio>
    </head>
    <body background="..\..\media\images\inicio\FONDOS\bckgSeleccion.jpg">
        <div id="divContainer" class="container">
            <div id="divImg" class="row">    
                <div id="divPersonajes" class="col-md-12">
                    <img id="imgEscogerPersonaje" style="position: relative; left: 0px; top: 0px; width: 1110px; height: 225px;" class="col-md-11" src="..\..\media\images\menu\seleccionPersonaje.png">
                    <img id="imgBaula" class="img-thumbnail" src="..\..\media\images\Personajes\Baula\mini_baula.png">
                    <img id="imgColibri" class="img-thumbnail" src="..\..\media\images\Personajes\Colibri\mini_colibri.png">
                    <img id="imgJaguar" class="img-thumbnail" src="..\..\media\images\Personajes\Jaguar\mini_jaguar.png"> 
                    <img id="imgMono" class="img-thumbnail" src="..\..\media\images\Personajes\Mono\mini_mono.png"> 
                </div> 
                <div id="divPersonajes1" class="col-md-12">
                    <img id="imgPerezoso" class="img-thumbnail" src="..\..\media\images\Personajes\Oso\mini_perezoso.png">
                    <img id="imgRana" class="img-thumbnail" src="..\..\media\images\Personajes\Rana\mini_rana.png">
                    <img id="imgTucan" class="img-thumbnail" src="..\..\media\images\Personajes\Tucan\mini_tucan.png">
                    <img id="imgVenado" class="img-thumbnail" src="..\..\media\images\Personajes\Venado\mini_venado.png">
                </div>
            </div>
                <div id="divNombre" class="col-ms-5">
                    <br>
                    <form id="formNombre">
                        <label for="lblNombre">Nombre:</label> 
                        <input id="txtNombre_id" type="text" name="txtNombre" maxlength="20"/>
                    </form>
                </div>
                <div id="divDificultad" class="col-ms-12">
                    <br>
                    <label type="text" id="lblDificut" class="col-md-2">Dificultad:
                        <select id="cmbDificultad" class="col-ms-12">
                            <option value="principiante">Principiante</option>
                            <option value="intermedio">Intermedio</option>
                            <option value="avanzado">Avanzado</option>
                        </select>
                    </label>
            </div>
            <div id="divImg1" class="col-ms-5">
                <input style="position: relative; left: 720px; top: 0px; width: 200px; height: 96px;" type="image" id="imgBoton" src="..\..\media\images\menu\ok.png" />
            </div>
        </div>
    </body>
</html>