<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="..\style\menu\seleccion.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <title>Seleccion</title>
        <audio src="..\media\audios\Bike_Rides.mp3" autoplay="autoplay" hidden="hidden"></audio>
    </head>
    <body background="..\media\images\Pantalla Inicial & Botones\FONDOS\bckgSeleccion.jpg">
        <div id="divPersonajes">
            <p>Seleccione su personaje</p>
            <img id="imgBaula" class="col-sm-4" src="..\media\images\miniaturas\baula.png">
            <img id="imgColibri" class="col-sm-4" src="..\media\images\miniaturas\colibri.png">
            <img id="imgJaguar" class="col-sm-4" src="..\media\images\miniaturas\jaguar.png">
            <img id="imgMono" class="col-sm-4" src="..\media\images\miniaturas\mono.png">
            <img id="imgPerezoso" class="col-sm-4" src="..\media\images\miniaturas\perezoso.png">
            <img id="imgRana" class="col-sm-4" src="..\media\images\miniaturas\rana.png">
            <img id="imgTucan" class="col-sm-4" src="..\media\images\miniaturas\tucan.png">
            <img id="imgVenado" class="col-sm-4" src="..\media\images\miniaturas\venado.png">
        </div>
        <div id="divNombre">
            <p>
                Nombre:<br> <input type="text" name="nombre">
            </p>
        </div>
        <div id="divDificultad">
            <br>
            <p>Seleccione el nivel de dificultad
                <select id="cmbDificultad">
                    <option value="principiante">Principiante</option>
                    <option value="intermedio">Intermedio</option>
                    <option value="avanzado">Avanzado</option>
                </select>
            </p>
        </div>
    </body>
</html>